extends ../layouts/application.pug

block header
  = t('views.task.edit.edit')

block content
  +formFor()(action=`/tasks/${task.id}` method='post')
    +input(task, 'name', t('views.task.edit.name'), errors)(type="text")
    .form-group
        label(for="data_description")= t('views.task.edit.description')
        textarea.form-control(id="data_description" name="data[description]" rows="3")
    +select(task, statuses, 'statusId', t('views.task.edit.status'), errors)
    +select(task, performers, 'performerId', t('views.task.edit.performer'), errors)
    +select(task, labels, 'labelId', t('views.task.edit.marking'), errors)(multiple="multiple")
    +submitPatch()(value=t('views.task.edit.submit'))