extends ../layouts/application.pug

block header
  = t('views.task.new.create')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.task.new.name'), errors)(type="text")
    .form-group
        label(for="data_description")= t('views.task.new.description')
        textarea.form-control(id="data_description" name="data[description]" rows="3")
    +select(task, statuses, 'statusId', t('views.task.new.status'), errors)
    +select(task, performers, 'performerId', t('views.task.new.performer'), errors)
    +select(task, labels, 'labelId', t('views.task.new.marking'), errors)(multiple="multiple")
    +submit()(value=t('views.task.new.submit'))